<div class="heading-with-icon">
  <img *ngIf="imageUrl" class="icon" [src]="imageUrl" [alt]="imageAlt">
  <div class="banner-content">
    <h2 class="banner-heading">{{ heading }}</h2>
    <p class="cta">
      <a class="cta-link"
         [href]="ctaLink"
         target="_blank"
         (click)="cta()"
         [style.background-color]="buttonBgColor"
         [style.box-shadow]="buttonShadow"
         [style.color]="buttonTextColor">
        {{ ctaText }}
      </a>
      {{ message }}
    </p>
  </div>
  <button *ngIf="showClose" class="close-button" aria-label="close" (click)="close()">
    <span>&times;</span>
  </button>
</div>
